<nav class="mobile_menu">

  <ul class="nav_list">
    {% if site.user.aboutme %}
    <li class="nav_item">
      <a href="{{ site.baseurl }}/aboutme.html">about</a>
    </li>

    {% endif %}
    {% for category in site.categories %}
    {% capture category_name %}{{ category | first }}{% endcapture %}

    <li class="nav_item">
      {% capture _category_url %}/categories/{{ category_name | slugify | url_encode }}/{% endcapture %}
      <a href="{{ _category_url | relative_url }}" id="aa">{{ category_name }} ({{ category | last | size }})</a>
    </li>
    {% endfor %}
  </ul>

</nav>